{% extends 'bootstrap.html' %}
{% load crispy_forms_tags %}

{% block bootstrap3_title %}{{ title }}{% endblock %}

{% block usercss %}
<link rel="stylesheet" href="{{ MEDIA_URL }}uni_form/css/uni-form.css" type="text/css"/>
<link rel="stylesheet" href="{{ MEDIA_URL }}uni_form/css/default.uni-form.css" type="text/css"/>
{% endblock %}

{% block bootstrap3_content %}
{% crispy form form.helper %}
{% endblock %}

{% block js_post %}
{{ block.super }}
<script src="/static/bootstrap3_datetime/js/moment.min.js"></script>
<script src="/static/bootstrap3_datetime/js/bootstrap-datetimepicker.min.js"></script>
<script src="{{ MEDIA_URL }}uni_form/js/uni-form-validation.jquery.min.js" type="text/javascript"></script>
<script>
    $(function(){$('form.uniForm').uniform();});

</script>
{% endblock %}

