{% extends 'bootstrap2.html' %}
{% load crispy_forms_tags %}

{% block bootstrap3_title %}{{ title }}{% endblock %}

{% block usercss %}
{% endblock %}

{% block bootstrap3_content %}
<form action="" method="post" class="form-horizontal">{% csrf_token %}
<fieldset>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="event_title">活动名称</label>
  <div class="controls">
    <input id="event_title" name="event_title" type="text" placeholder="请输入活动名称" class="input-large" required="">

  </div>
</div>
<!-- Textarea -->
<div class="control-group">
  <label class="control-label" for="event_detail">活动详情</label>
  <div class="controls">
    <textarea id="event_detail" name="event_detail">请输入活动详情</textarea>
  </div>
</div>
<div data-role="fieldcontain">
    <label for="slider">人数限制：</label>
    <input type="range" name="slider" id="slider" value="10" min="0" max="200" data-highlight="true"  />
</div>
<!-- Button (Double) -->
<div class="control-group">
  <label class="control-label" for="submit"></label>
  <div class="controls">
    <button id="submit" name="submit" class="btn btn-success">发布</button>
    <button id="cancel" name="cancel" class="btn btn-info">取消</button>
  </div>
</div>

<div class="bfh-datepicker" id='datetimepicker' data-format="y-m-d" data-date="today">
    <input type='text' class="form-control" />
</div>
<div class="bfh-timepicker" id="timepicker">
    <input type='text' class="form-control" />
</div>

<div>
    <input name="mydate" id="mydate" type="date" data-role="datebox"
   data-options='{"mode": "flipbox"}'>
</div>


            <label for="id_date" class="requiredField">
                活动时间<span class="asteriskField">*</span>
            </label>




                <div class="input-group date" id="id_date_picker">
                    <input class="form-control datetimepicker" id="id_date" name="date" type="text"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <script>
                    $(function() {
                        $("#id_date_picker").datetimepicker({"pickSeconds": false, "language": "en-us", "format": "YYYY-MM-DD HH:mm"});
                    });
                </script>



</fieldset>
</form>
{% endblock %}

{% block js_post %}
{{ block.super }}
        <script type="text/javascript">
            $(function ()
                $('#datetimepicke').bfhdatepicker('toggle');
                $('#timepicker').bfhtimepicker('toggle');
            });
        </script>
{% endblock %}

