{% extends 'bootstrap.html' %}

{% block bootstrap3_title %}{{ title }}{% endblock %}

{% block bootstrap3_content %}
<form method="post" action="">
    {% csrf_token %}
    <table>
        {{form.as_table}}
    </table>
    <input type="submit" value="保存"/>
    <input type="hidden" name="next" value="{{ next }}"/>
</form>
{% endblock %}

{% block js_post %}
{{ block.super }}
<script src="/static/bootstrap3_datetime/js/moment.min.js"></script>
<script src="/static/bootstrap3_datetime/js/bootstrap-datetimepicker.min.js"></script>
{% endblock %}

