{% extends 'dh5mbp/base.html' %}
{% load url from future %}
{% load staticfiles %}

{% block title %}{{ title }}{% endblock %}

{% block dh5mbp_css %}
    {{block.super}}
    <link rel="stylesheet" type="text/css" href='{% static "datetimepicker/css/jqm-datebox.css" %}' />
    <style>
        label.error {
            color: red;
            width: 100%;
            float: none;
        }
    </style>
{% endblock %}

{% block content %}

    <p>
        {{ errorMessage }}
    </p>


{% endblock %}