{% extends 'jqmbase.html' %}
{% load staticfiles %}

{% block title %} 欢迎使用 {% endblock %}

{% block meta %}
    <meta property="qc:admins" content="3123217701455116014076161705256375" />
    {{ block.super }}
{% endblock %}

{% block page_id %}index{% endblock %}
{% block page_content %}
<div id="adminlinks">
{% if user.is_authenticated and user != "" %}
    <div style="text-align: center; color: SteelBlue;">
        <h3>{{ user }}</h3>
        <h3>欢迎使用 易聚通</h3>
    </div>
    <div data-role="content">
        <ul>
            <li><a href = "/add_event/?eventtype=1" data-role="button"  data-theme="b" data-icon="arrow-r" data-iconpos="top"> 发布新活动 </a></li>
            <li><a href = "/list_events/?type=mine" data-role="button" data-theme="e" data-icon="info" data-iconpos="top"> 我发布的活动 </a></li>
            <li><a href = "/list_events/?type=other" data-role="button" data-theme="c" data-icon="check" data-iconpos="top"> 我参与的活动 </a></li>
        </ul>
    </div>

{% else %}
    <p>Welcome, new user. Please log in.</p>
    <ul>
    <li><a href ="/accounts/login/?next=/"> 登录 </a></li>
    <li><a href ="/accounts/register/?next=/"> 注册 </a></li>
    </ul>
{% endif %}
</div>
{% endblock %}

{% block user_foot_js %}
{{ block.super }}
<script type="text/javascript">
         $(document).ready(function() {
          // disable ajax nav
          $.mobile.ajaxEnabled = false;

          if (!navigator.userAgent.match(/mobile/i)) {
            $("#adminlinks").show();
          }else{
            $("#adminlinks").show();
          }
         });

</script>
{% endblock %}