{% extends 'bootstrap.html' %}

{% block bootstrap3_title %}欢迎使用{% endblock %}

{% block bootstrap3_content %}
{% if user.is_authenticated and user != "" %}
    ========={{ user }}
    +++++++++{{ user.is_authenticated }}
    <p>Welcome, {{ user.username }}. Thanks for logging in.</p>
    <li><a href = "/list_events/"> 活动列表 </a></li>
        <li><a href = "/add_event/"> add_event </a></li>
        <li><a href = "/add_event2/"> add_event2 </a></li>
    <li><a href = "/accounts/logout/"> 退出 </a></li>
    <li><a href = "/admin/"> 管理界面 </a></li>
{% else %}
    <p>Welcome, new user. Please log in.</p>
    <li><a href ="/accounts/login/?next=/"> 登录 </a></li>
    <li><a href ="/accounts/register/?next=/"> 注册 </a></li>
{% endif %}
{% endblock %}