<!DOCTYPE html>
{% load staticfiles %}
<html manifest="{% static 'eztogether.appcache' %}">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="{% block description %}{% endblock %}">
    {% endblock %}
	<title>{% block title %}{{ title }}{% endblock %}</title>
    {% block jqm_css %}
    <link rel="stylesheet" href="{% static 'jqm/jquery.mobile-1.3.2.min.css' %}" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    {% endblock %}
    {% block user_css %}
    {% endblock %}
    {% block jqm_js %}
	<script src="{% static 'jqm/jquery-1.10.2.min.js' %}"></script>
    <script src="{% static 'jqm/jquery.mobile-1.3.2.min.js' %}"></script>
    {% endblock %}
    {% block user_head_js %}
    {% endblock %}
</head>
<body >
  {% block page_block %}
    <div data-role="page" id="{% block page_id %}{{ page_id }}{% endblock %}">
      {% block page_content %}{{ content }}{% endblock %}
    </div>
  {% endblock %}
  {% block user_foot_js %}{% endblock %}
</body>
</html>
