<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{{ title }}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    {% block jqm_css %}
    <link rel="stylesheet" href="{% static 'jqm/jquery.mobile-1.3.2.min.css' %}" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    {% endblock %}
    {% block user_css %}
    {% endblock %}
    {% block jqm_js %}
	<script src="{% static 'jqm/jquery-1.10.2.min.js' %}"></script>
	<!-- use shared resources, when possible -->
    <script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
	<script>window.jQuery.mobile || document.write('<script src="{% static "jqm/jquery.mobile-1.3.2.min.js" %}"><\/script>')</script>
    {% endblock %}
    {% block user_head_js %}
    {% endblock %}
</head>
<body >
  {% block page_block %}
  <div data-role="page">
    {% block page_content %}{{ title }}{% endblock %}
  </div>
  {% endblock %}
  {% block user_foot_js %}{% endblock %}
</body>
</html>
