{% extends 'jqmbase.html' %}
{% load staticfiles %}

{% block title %} 欢迎使用 {% endblock %}

{% block meta %}
    <meta property="qc:admins" content="3123217701455116014076161705256375" />
    {{ block.super }}
{% endblock %}
{% block user_head_js %}
    <script src='{% static "js/jquery.validate.min.js" %}' type="text/javascript"></script>
{% endblock %}
{% block page_id %}index{% endblock %}
{% block page_content %}

<div id="adminlinks">

    <div class="loginBox">
        <h3>欢迎使用 易聚通，请登录：</h3>
        <div class="inputBox">
            <label for="userId">邮箱</label>
            <input name="userId" type="text" id="userId" value="" onblur="validate(this)">
            <span id="userIdSpan"></span>
        </div>
        <div class="inputBox">
            <label for="password">密码</label>
            <input id="password" name="password" type="password" value="" />
            <span id="passwordSpan"></span>
        </div>
        <div class="inputBox" id="passworddiv2" style="display:none">
            <label for="password2">重复密码</label>
            <input id="password2" name="password2" type="password" value="" />
            <span id="passwordSpan2"></span>
        </div>
        <div id="loginbutton">
            <button onclick="jslogin()" data-theme="b">登  录</button>
        </div>
        <div id="registerbutton" style="display:none">
            <button onclick="jsregister()" data-theme="e">注  册</button>
        </div>
        {% if openid != None and openid != '' %}
            <input type="hidden" value="{{ openid }}" id="openid" name="openid"/>
        {% else %}
            <input type="hidden" value="" id="openid" name="openid"/>
        {% endif %}
    </div>


</div>
{% endblock %}

{% block user_foot_js %}
{{ block.super }}
    <script src="{% static 'js/csrf.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() {
    // disable ajax nav
    $.mobile.ajaxEnabled = false;

    if (!navigator.userAgent.match(/mobile/i)) {
    $("#adminlinks").show();
    }else{
    $("#adminlinks").show();
    }

});

var register = false;  //全局变量，登录/注册

    // Login ajax
    var xmlHttp; //声明xmlHttp对象
    //实例化xmlHttpRequest对象
    function createXMLHttpRequest() {
        //表示当前浏览器不是ie,如ns,firefox
        if(window.XMLHttpRequest) {
            xmlHttp = new XMLHttpRequest();
        } else if (window.ActiveXObject) {
            xmlHttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
    }

    String.prototype.trim = function () {
        return this .replace(/^\s\s*/, '' ).replace(/\s\s*$/, '' );
    }

    //input失去焦点事件onblur（），调用这个js方法验证
    function validate(field) {
        //alert(field.value);
        if (field.value.trim().length != 0 && mailValidate(field.value)) {

            $.ajax({ //一个Ajax过程，与下面二选一即可
                type: "get",
                url : "/checkmail/",
                dataType:'html',
                data: 'userId=' + field.value.trim() + '&tamp=' + new Date().getTime(),
                success: function(responseText){
                    //alert(responseText);
                    //alert(json.username+'n'+json.password);
                    //$('#userIdSpan').html("<font color='red'>" + responseText + "</font>"); //把返回值显示在预定义的result定位符位置
                    window.register = false;
                    if(responseText == 'noexist'){
                        //注册流程
                        $('#userIdSpan').html("<font color='red'>邮箱不存在，请输入密码注册：</font>");
                        $("#passworddiv2").show();
                        $("#loginbutton").hide();
                        $("#registerbutton").show();
                        window.register = true;
                    }
                }
            });

        }else {
            document.getElementById("userIdSpan").innerHTML = "<font color='red'>请输入有效邮箱地址</font>";
        }
    }

    function mailValidate(temp){
        //var temp = document.getElementById("text1");
        //对电子邮件的验证
        var myreg = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/;
        //alert(myreg.test(temp));
        if(myreg.test(temp)){
            //alert('有效的E_mail');
            //myreg.focus();
            return true;
        }else{
            return false;
        }
    }

    function jslogin(){
        userId = $('#userId').val();
        password = $('#password').val();
        openid = $('#openid').val();
        $.ajax({
            type: "post",
            url : "/jslogin/",
            dataType:'json',
            data: 'userId=' + userId + '&password=' + password + '&openid=' + openid,
            success: function(feedback){
                //alert(feedback.result);
                //alert(json.username+'n'+json.password);
                if(feedback.result == true){
                    location.href = feedback.link;
                }else{
                    $('#password').val("");
                    $('#passwordSpan2').html("<font color='red'>" + feedback.msg + "</font>");
                }
            }
        });
    }

    function jsregister(){
        userId = $('#userId').val();
        password = $('#password').val();
        password2 = $('#password2').val();
        if (userId.trim().length != 0 && mailValidate(userId)){
            if(password != password2){
                $('#userIdSpan').html("");
                $('#passwordSpan2').html("<font color='red'>请输入相同的密码</font>");
                $('#password').val("");
                $('#password2').val("");
            }

            $.ajax({
                type: "post",
                url : "/jsregister/",
                dataType:'json',
                data: 'userId=' + userId + '&password1=' + password + '&password2=' + password2,
                success: function(feedback){
                    //alert(feedback.result);
                    //alert(json.username+'n'+json.password);
                    if(feedback.result == true){
                        location.href = feedback.link;
                    }else{
                        $('#password').val("");
                        $('#password2').val("");
                        $("#passworddiv2").hide();
                        $("#loginbutton").show();
                        $("#registerbutton").hide();
                        $('#passwordSpan').html("<font color='red'>" + feedback.msg + "</font>");
                    }
                }
            });

        }else{
            document.getElementById("userIdSpan").innerHTML = "<font color='red'>请输入有效邮箱地址</font>";
        }

    }

</script>
{% endblock %}