{% extends 'bootstrap.html' %}

{% block bootstrap3_title %}{{ title }}{% endblock %}

{% block usercss %}
{% endblock %}

{% block bootstrap3_content %}
   成功通过认证，获取用户信息中。。。
{% endblock %}

{% block js_post %}
{{ block.super }}
<script>
   var parseQueryString = function (qs) {
      var e,
         a = /\+/g,  // Regex for replacing addition symbol with a space
         r = /([^&;=]+)=?([^&;]*)/g,
         d = function (s) { return decodeURIComponent(s.replace(a, " ")); },
         q = qs,
         urlParams = {};

      while (e = r.exec(q))
         urlParams[d(e[1])] = d(e[2]);

      return urlParams;
   }

    var hash = window.location.hash;
    if (hash.indexOf("access_token") === -1) hash="access_token=none";
    else hash = hash.substring(1);
    var path = window.location.pathname + "?" + hash;
    console.log(path);
    window.location = path;
</script>
{% endblock %}

