{% extends 'jqmbase.html' %}

{% block title %}OAuth2{% endblock %}

{% block page_block %}
   自动转向OAuth认证界面
   <div id="log">log</div>
{% endblock %}

{% block user_foot_js %}
<script>
   var url;
   if (window.WeixinJSBridge) { // 检查是否微信客户端环境
      url = 'https://open.weixin.qq.com/connect/oauth2/authorize?' +
         'appid=wxf0e81c3bee622d60&' +
         'redirect_uri=http%3A%2F%2Fwhitemay.pythonanywhere.com%2Foauth%2&' +
         'response_type=code&scope=snsapi_userinfo&state=Foperate#wechat_redirect';
   } else {
      url = 'https://graph.qq.com/oauth2.0/authorize?' +
         'appid=100561618&' +
         'redirect_uri=http%3A%2F%2Fwhitemay.pythonanywhere.com%2Foauth%2&' +
         'response_type=code&state=Foperate';
   }
   $('#log').text(url);
</script>
{% endblock %}

