{% extends 'dh5mbp/base.html' %}
{% load url from future %}
{% load staticfiles %}

{% block title %}{{ title }}{% endblock %}

{% block dh5mbp_css %}
    {{block.super}}
    <link rel="stylesheet" type="text/css" href='{% static "datetimepicker/css/jqm-datebox.css" %}' />
    <style>
        label.error {
            color: red;
            width: 100%;
            float: none;
        }
    </style>
{% endblock %}

{% block content %}
<form action="/setting/" id="setupinfoForm" method="post" class="form-horizontal">
    {% csrf_token %}
    <fieldset>
        <!-- Text input-->
        <div class="control-group">
          <!--<label class="control-label" for="event_title">活动名称</label> -->
          <div class="controls">
              {% if form.wechat_inputname.value != None %}
                <input id="wechat_inputname" name="wechat_inputname" type="text" placeholder="请设置姓名"
                   value="{{form.wechat_inputname.value}}"  required>
              {% else %}
                <input id="wechat_inputname" name="wechat_inputname" type="text" placeholder="请设置姓名" required>
              {% endif %}
          </div>
        </div>

        <!-- Button (Double) -->
        <div class="control-group">
          <label class="control-label" for="submit"></label>
            <div class="ui-body ui-body-b">
                    <button type="submit" id="submit" name="submit"  data-theme="b">保存</button>
                    <button type="reset" data-theme="d">取消</button>
            </div>
        </div>


    </fieldset>
</form>
{% endblock %}

{% block post_main_script %}
{{ block.super }}
<script src='{% static "js/jquery.validate.min.js" %}' type="text/javascript"></script>
<script src='{% static "datetimepicker/js/jqm-datebox.core.js" %}' type="text/javascript"></script>
<script src='{% static "datetimepicker/js/jqm-datebox.mode.datebox.js" %}' type="text/javascript"></script>
<script src='{% static "datetimepicker/js/jquery.mobile.datebox.i18n.zh-CN.utf8.js" %}' type="text/javascript"></script>
<script type="text/javascript">
         $(document).ready(function() {
          // disable ajax nav
          $.mobile.ajaxEnabled = false;
         });

    $(document).on("pageinit", function () {
        $('#setupinfoForm').validate({ // initialize the plugin
            rules: {
                wechat_inputname: "required"
            },
            messages: {
                wechat_inputname: "请设置您的姓名",
            },
            errorPlacement: function(error, element) {
                if (element.attr("name") == "wechat_inputname") {
                    error.insertAfter($(element).parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });
    });
</script>
{% endblock %}

