{% extends 'jqmpage.html' %}
{% load staticfiles %}

{% block title %}设置个人信息{% endblock %}

{% block user_css %}
    <style>
        label.error {
            color: red;
            width: 100%;
            float: none;
        }
    </style>
{% endblock %}

{% block user_head_js %}
<script src='{% static "js/jquery.validate.min.js" %}' type="text/javascript"></script>
{% endblock %}

{% block main_content %}
          <h4 style="text-align:left">请先设置显示姓名以发布或参加活动。</h4>
<form action="/setting/" id="setupinfoForm" method="post" class="form-horizontal">
    {% csrf_token %}
    <fieldset>
        <!-- Text input-->
        <div class="control-group">
          <!--<label class="control-label" for="event_title">活动名称</label> -->
          <div class="controls">
                <input id="wechat_inputname" name="wechat_inputname" type="text" placeholder="请设置姓名"
                   value="{{form.wechat_inputname.value|default_if_none:''}}" required>
          </div>
        </div>

        <!-- Button (Double) -->
        <div class="control-group">
          <label class="control-label" for="submit"></label>
            <div class="ui-body ui-body-b">
                    <button type="submit" id="submit" name="submit"  data-theme="b">保存</button>
                    <button type="reset" data-theme="d">取消</button>
            </div>
        </div>


    </fieldset>
</form>
{% endblock %}

{% block user_page_js %}
<script type="text/javascript">
  $(document).ready(function() {
    // disable ajax nav
    $.mobile.ajaxEnabled = false;

    document.addEventListener('WeixinJSBridgeReady',function onBridgeReady() {
      WeixinJSBridge.call('hideToolbar');
      WeixinJSBridge.call('hideOptionMenu');
    });
  });

    $(document).on("pageinit", function () {
        $('#setupinfoForm').validate({ // initialize the plugin
            rules: {
                wechat_inputname: "required"
            },
            messages: {
                wechat_inputname: "请设置您的姓名",
            },
            errorPlacement: function(error, element) {
                if (element.attr("name") == "wechat_inputname") {
                    error.insertAfter($(element).parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });
    });
</script>
{% endblock %}

