{% extends 'dh5mbp/base.html' %}
{% load url from future %}
{% load staticfiles %}

{% block title %}{{ title }}{% endblock %}

{% block dh5mbp_css %}
    {{block.super}}
    <style>
        table {
            color: black;
            background: #fff;
            border: 1px solid #b4b4b4;
            font: bold 17px helvetica;
            padding: 0;
            margin-top:10px;
            width: 100%;
            -webkit-border-radius: 8px;
        }

        table tr td {
            color: #666;
            border-bottom: 1px solid #b4b4b4;
            border-right: 1px solid #b4b4b4;
            padding: 10px 10px 10px 10px;
            background-image: -webkit-linear-gradient(top, #fdfdfd, #eee);
        }

        table tr td:last-child {
            border-right: none;
        }

        table tr:last-child td {
            border-bottom: none;
        }

    </style>
{% endblock %}

{% block content %}
    <div data-role="page">
        <div data-role="header" data-theme="d">
            <h1>{{ thisEvent.event_title }}</h1>
        </div>
        <div data-role="content">
            <table>
                   <tr><td style="width: 20%">活动详情：</td><td>{{ thisEvent.event_detail }}</td></tr>
                   <tr><td>活动时间：</td><td>{{ thisEvent.event_date|date:"Y-M-d, H:m" }}</td></tr>
                   <tr><td>发起人：</td><td>{{ thisEvent.event_hostname }}</td></tr>
                   <tr><td>发起时间：</td><td>{{ thisEvent.updated_date|date:"Y-M-d, H:m" }}</td></tr>
                   <tr><td>报名截止时间：</td><td>{{ thisEvent.event_registdeadline }}</td></tr>
                   <tr><td>人数限制：</td><td>{{ thisEvent.event_limit }}</td></tr>
                   <tr>
                       <td>已报名人数：</td>
                       <td>
                           <li>确定参加：{{ numbers.eventin }}</li>
                           <li>可能参加：{{ numbers.eventmaybe }}</li>
                           <li>不能参加：{{ numbers.eventout }}</li>
                       </td>
                   </tr>
            </table>
            <a href="#rightpanel" data-role="button" data-inline="false" data-icon="arrow-r" data-iconpos="right">查看已报名用户</a>

            <div data-role="controlgroup">
                <a href="#" data-role="button" data-theme="b">Yes</a>
                <a href="#" data-role="button" data-theme="e">No</a>
                <a href="#" data-role="button" data-theme="d">Maybe</a>
            </div>
        </div>

        <!-- rightpanel  -->
        <div data-role="panel" id="rightpanel" data-position="right" data-display="overlay" data-theme="b">
            <h3>已报名用户：</h3>
            <p>
                {% for participant in participantlist %}
                    <li>{{ participant.partici_name}} : {{ participant.get_partici_type_display }}</li>
                {% endfor %}
            </p>
            <a href="#" data-rel="close" data-role="button" data-theme="c" data-icon="delete" data-inline="false">关闭</a>
        </div><!-- /rightpanel -->
    </div>
{% endblock %}

{% block post_main_script %}
{{ block.super }}

{% endblock %}

