{% extends 'jqmbase.html' %}
{% load staticfiles %}

{% block title %}{{ title }}{% endblock %}

{% block user_css %}
    {{block.super}}
    <style>
        table {
            color: black;
            background: #fff;
            border: 1px solid #b4b4b4;
            font: bold 17px helvetica;
            padding: 0;
            margin-top:10px;
            width: 100%;
            -webkit-border-radius: 8px;
        }

        table tr td {
            color: #666;
            border-bottom: 1px solid #b4b4b4;
            border-right: 1px solid #b4b4b4;
            padding: 10px 10px 10px 10px;
            background-image: -webkit-linear-gradient(top, #fdfdfd, #eee);
        }

        table tr td:last-child {
            border-right: none;
        }

        table tr:last-child td {
            border-bottom: none;
        }

    </style>
{% endblock %}

{% block page_id %}show_event{% endblock %}
{% block page_content %}
    <div data-role="content">

        <h3 style="text-align:center">{{ thisEvent.event_title }}  -
            {% if thisEvent.event_status == 0 %}
                <em style="color: #008AE6">
                {{ thisEvent.get_event_status_display }} </em>
            {% elif thisEvent.event_status == 1 %}
                <em style="color: #FFCC66">
                {{ thisEvent.get_event_status_display }} </em>
            {% else %}
                <em style="color: #FF3300">
                {{ thisEvent.get_event_status_display }} </em>
            {% endif %}
        </h3>
        <div id="ajaxMessage"><h4 style="color: #4682B4; text-align: center">{{remsg}}</h4></div>
        <table>
            <tr><td>活动详情: {{ thisEvent.event_detail }}</td></tr>
            <tr><td>活动时间: {{ thisEvent.event_date|date:"Y-m-d, H:i" }}</td></tr>
            <tr><td>活动发起: {{ thisEvent.event_hostname }}</td></tr>
            <tr><td>发布时间: {{ thisEvent.updated_date|date:"Y-m-d, H:i" }}</td></tr>
            <!--<tr><td>报名截止: {{ thisEvent.event_registdeadline }}</td></tr> -->
            <tr><td>人数限制:{{ thisEvent.event_limit }}</td></tr>
            <tr>
                <td><ul>
                    <li>确定参加：{{ numbers.eventin }}</li>
                    <li>不能参加：{{ numbers.eventout }}</li>
                    <li>可能参加：{{ numbers.eventmaybe }}</li>
                </ul></td>
            </tr>
        </table>


        <!-- userStatus: 0-不参加，1-参加，2-可能参加，5-未报名，10-活动发起人，100-未关注账号用户 -->
        {% if userStatus == 100 %}
            <a href="/joinevent/?eventid={{thisEvent.id}}&jointype=join" data-role="button" data-theme="b" data-icon="check" class="ui-disabled">我参加！</a>
            <a href="/joinevent/?eventid={{thisEvent.id}}&jointype=notjoin" data-role="button" data-theme="e" data-icon="delete" class="ui-disabled">不能参加</a>
            <a href="/joinevent/?eventid={{thisEvent.id}}&jointype=maybe" data-role="button" data-theme="d" data-icon="info" class="ui-disabled">可能吧，先收藏下...</a>
            <a href="#rightpanel" data-role="button" data-inline="false" data-icon="arrow-r" data-iconpos="right">查看已报名用户</a>

            <p style="text-align:center">请长按复制我们的账号，关注后按第一个消息设置您的名字，然后回来报名：</p>
            <h3 style="text-align:center">yuntongzhonghe</h3>
        {% else %}
            {% if userStatus == 10 %}
                <div data-role="controlgroup">
                    <a href="/updateevent/?eventid={{thisEvent.id}}" data-role="button" data-theme="b" data-icon="gear" data-ajax="false">修改活动</a>
                    <a href="/add_event/?eventid={{thisEvent.id}}&renew=true" data-role="button" data-theme="b" data-icon="star" data-ajax="false">重新发布活动</a>
                    {% if thisEvent.event_status != 3 %}
                        <a href="/joinevent/?eventid={{thisEvent.id}}&jointype=stop" data-role="button" data-theme="e" data-icon="check">停止报名</a>
                    {% endif %}
                    {% if thisEvent.event_status != 2 %}
                        <a href="/joinevent/?eventid={{thisEvent.id}}&jointype=cancel" data-role="button" data-theme="a" data-icon="delete">取消活动</a>
                    {% endif %}
                </div>
            {% else %}
                {% if thisEvent.event_status == 0 %}
                    <div data-role="controlgroup">
                        <p data-icon="info" data-highlight="true">您当前的状态为：
                            {% if userStatus == 0 %}
                                <span style="color: #FF3300"> 不参加此活动 </span>
                                <a href="/joinevent/?eventid={{thisEvent.id}}&jointype=join" data-role="button" data-theme="b" data-icon="check">我参加！</a>
                                <a href="/joinevent/?eventid={{thisEvent.id}}&jointype=maybe" data-role="button" data-theme="d" data-icon="info">可能吧...</a>
                            {% elif userStatus == 1 %}
                                <span style="color: #008AE6"> 已报名参加 </span>
                                <a href="/joinevent/?eventid={{thisEvent.id}}&jointype=notjoin" data-role="button" data-theme="e" data-icon="delete">不能参加</a>
                                <a href="/joinevent/?eventid={{thisEvent.id}}&jointype=maybe" data-role="button" data-theme="d" data-icon="info">可能吧...</a>
                            {% elif userStatus == 2 %}
                                <span style="color: #FFCC66"> 可能参加此活动 </span>
                                <a href="/joinevent/?eventid={{thisEvent.id}}&jointype=join" data-role="button" data-theme="b" data-icon="check">我参加！</a>
                                <a href="/joinevent/?eventid={{thisEvent.id}}&jointype=notjoin" data-role="button" data-theme="e" data-icon="delete">不能参加</a>
                            {% elif userStatus == 5 %}
                                <span style="color: #FF3300"> 未报名 </span>
                                <a href="/joinevent/?eventid={{thisEvent.id}}&jointype=join" data-role="button" data-theme="b" data-icon="check">我参加！</a>
                                <a href="/joinevent/?eventid={{thisEvent.id}}&jointype=notjoin" data-role="button" data-theme="e" data-icon="delete">不能参加</a>
                                <a href="/joinevent/?eventid={{thisEvent.id}}&jointype=maybe" data-role="button" data-theme="d" data-icon="info">可能吧...</a>
                            {% endif %}
                        </p>
                    </div>
                {% elif thisEvent.event_status == 1 %}
                    <div data-role="controlgroup">
                        <p data-icon="info" data-highlight="true">您当前的状态为：
                            {% if userStatus == 0 %}
                                <span style="color: #FF3300"> 不参加此活动 </span>
                            {% elif userStatus == 1 %}
                                <span style="color: #008AE6"> 已报名参加 </span>
                                <a href="/joinevent/?eventid={{thisEvent.id}}&jointype=notjoin" data-role="button" data-theme="e" data-icon="delete">不能参加</a>
                                <a href="/joinevent/?eventid={{thisEvent.id}}&jointype=maybe" data-role="button" data-theme="d" data-icon="info">可能吧...</a>
                            {% elif userStatus == 2 %}
                                <span style="color: #FFCC66"> 可能参加此活动 </span>
                                <a href="/joinevent/?eventid={{thisEvent.id}}&jointype=join" data-role="button" data-theme="b" data-icon="check">我参加！</a>
                                <a href="/joinevent/?eventid={{thisEvent.id}}&jointype=notjoin" data-role="button" data-theme="e" data-icon="delete">不能参加</a>
                            {% elif userStatus == 5 %}
                                <span style="color: #FF3300"> 未报名 </span>
                                <h4 style="color: #4682B4">此活动已经报名人满。</h4>
                            {% endif %}
                        </p>
                    </div>
                {% elif thisEvent.event_status == 2 %}
                    <div data-role="controlgroup">
                        <p data-icon="info" data-highlight="true">您当前的状态为：
                            {% if userStatus == 0 %}
                                <span style="color: #FF3300"> 不参加此活动 </span>
                            {% elif userStatus == 1 %}
                                <span style="color: #008AE6"> 已报名参加 </span>
                            {% elif userStatus == 2 %}
                                <span style="color: #FFCC66"> 可能参加此活动 </span>
                            {% elif userStatus == 5 %}
                                <span style="color: #FF3300"> 未报名 </span>
                            {% endif %}
                        </p>
                        <h4 style="color: #4682B4">此活动已经取消。</h4>
                    </div>
                {% endif%}
            {% endif %}
            <a href="#rightpanel" data-role="button" data-inline="false" data-icon="arrow-r" data-iconpos="right">查看已报名用户</a>
        {% endif %}

        <h4 style="color: #4682B4">请点击右上角箭头邀请更多好友。</h4>

        <!--  评论系统 -->
        {% if userStatus != 100 %}
            {%load comments%}
            <div>
                {% get_comment_count for thisEvent as comment_count %}
                <h4>评论 ( <span id="comment_count">{{ comment_count }}</span> ) ：</h4>
                <div id="commentformdiv">
                    {% if showcomment == 'true' %}
                        {%get_comment_form for thisEvent as form%}
                        <form action='{%comment_form_target%}' method='post' id="commentForm" name="commentForm">
                            {% csrf_token %}
                            {{ form.object_pk }}
                            {{ form.content_type }}
                            {{ form.timestamp }}
                            {{ form.security_hash }}
                            {{ form.site }}
                            {{ form.submit_date }}
                            {{ form.security_hash }}
                            <input type="hidden" name="name" id="id_name" value="{{username}}">
                            <input type="hidden" name="email" id="id_email" value="{{useropenid}}@eztogether.net"> <!-- 该字段用于保存用户openid -->
                            <!-- <p><label for="id_comment">评论（必填）：</label></p> -->
                            <p><textarea id="id_comment" name="comment" placeholder="请填写评论"></textarea></p>
                            <p style="display:none;"><label for="id_honeypot">如果你在该字段中输入任何内容，那么你的评论就会被视为垃圾评论。</label> <input type="text" name="honeypot" id="id_honeypot"></p>
                            <p><input name="post" value="发表评论" type="submit" data-theme="e" /></p>
                        </form>
                    {% endif %}
                </div>
                <ul id="comment_list">
                {% get_comment_list for thisEvent as comment_list %}
                {% for comment in comment_list reversed %}
                    <li>{{comment.user_name}} ( {{comment.submit_date|date:"Y-m-d, H:i"}} ) 评论: {{comment.comment|safe}}</li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>

    <!-- rightpanel  -->
    <div data-role="panel" id="rightpanel" data-position="right" data-display="overlay" data-theme="b">
        <h3>已报名用户：</h3>
        <p>
            <ul>
                {% for participant in participantlist %}
                    <li>{{ participant.partici_name}} : {{ participant.get_partici_type_display }}</li>
                {% endfor %}
            </ul>
        </p>
        <a href="#" data-rel="close" data-role="button" data-theme="c" data-icon="delete" data-inline="false" data-mini="true">关闭</a>
    </div><!-- /rightpanel -->
{% endblock %}

{% block user_foot_js %}
    <script src='{% static "js/jquery.validate.min.js" %}' type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            document.addEventListener('WeixinJSBridgeReady',function onBridgeReady() {
                WeixinJSBridge.call('hideToolbar');
            });
            bindPostCommentHandler();
        });

      $(document).on("pageinit", function () {
        $('#commentForm').validate({ // initialize the plugin
            rules: {
                comment: {
                    minlength: 3,
                    maxlength: 400,
                    required: true
                }
            },
            messages: {
                comment: {
                    required: "评论不能为空",
                    minlength: "请输入3个字以上",
                    maxlength: "最多为200字",
                }
            },
            errorPlacement: function(error, element) {
                error.insertAfter($(element).parent());
            }
        });
      });

      function bindPostCommentHandler() {
        $('#commentForm input.submit-preview').remove();
        $('#commentForm').submit(function() {
            $.ajax({
                type: "POST",
                data: $('#commentForm').serialize(),
                url: "{% comment_form_target %}",
                cache: false,
                dataType: "html",
                success: function(html, textStatus) {
                    item = '<li>' + $('#id_name').val() + ' ( 刚才 ) 评论: ' + $('#id_comment').val() + '</li>'
                    $('#comment_list').prepend(item);
                    $('#id_comment').val('');
                    $('#comment_count').text(parseInt($('#comment_count').text())+1)
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $('#commentformdiv').replaceWith('<p>对不起，评论提交失败，请重试。</p>');
                }
            });
            return false;
        });
    }
    </script>
{% endblock %}

