<!DOCTYPE html>
{% load staticfiles %}
<html manifest="{% static 'eztogether.appcache' %}">
<head>
	<meta charset="utf-8">
    <meta property="qc:admins" content="3123217701455116014076161705256375" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>欢迎使用</title>
    <link rel="stylesheet" href="{% static 'jqm/jquery.mobile-1.3.2.min.css' %}" />
	<script src="{% static 'jqm/jquery-1.10.2.min.js' %}"></script>
    <script src="{% static 'jqm/jquery.mobile-1.3.2.min.js' %}"></script>
</head>
<body >
  <div data-role="page" id="welcome">
    <p>欢迎您使用运通预订助手！</p>
    <p>您能看到现在的页面，表示您还没有完成开始的配置工作。请逐一确认您完成了下面的工作：</p>
    <ul>
      <li>从微信中查找并添加了公众号yuntongzhonghe，它显示的名称是运通众和。</li>
      <li>从菜单中设置了您的个人信息。</li>
    </ul>
  </div>
<script>
  $(document).ready(function() {
    // disable ajax nav
    //$.mobile.ajaxEnabled = false;

    document.addEventListener('WeixinJSBridgeReady',function onBridgeReady() {
      WeixinJSBridge.call('hideToolbar');
      //WeixinJSBridge.call('hideOptionMenu');
      alert(WeixinJSBridge._session_data);
    });
  });
</script>
</body>

</html>
